<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds the models and materials -->
  <env name="GAZEBO_MODEL_PATH" value="$(find mr_final_project)/models" />
  
  <!-- We resume the logic in empty_world.launch, changing only the name of 
    the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mr_final_project)/worlds/crazy_maze.world" />
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>  
    <arg name="gui" value="true"/>
  </include>
  
</launch>
