<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]" />
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua" />
  <arg name="open_rviz" default="true" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />
  <arg name="use_sim" default="false" />

  <!-- static tf publisher for laser scan data -->
  <node pkg="tf" type="static_transform_publisher" name="base_scan_transform" 
        args="0 0 0 0 0 0 1 base_link base_scan 100" />
  
  <!-- static tf publisher for base footprint -->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_transform" 
        args="0 0 0 0 0 0 1 base_footprint base_link 100" />

  
  <!-- move_base -->
  <include file="$(find mr_final_project)/launch/move_base.launch" />

  <!-- GMAPPING -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" >
    <arg name="open_rviz" value="false" />
    <arg name="model" value="$(arg model)" />
    <arg name="configuration_basename" value="$(arg configuration_basename)" />
  </include>

  <!-- EXPLORE -->
  <include file="$(find explore_lite)/launch/explore.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find mr_final_project)/rviz/turtlebot3.rviz" />
  </group>

  <!-- using simulation -->
  <group if="$(arg use_sim)">
    <node pkg="mr_final_project" type="goal_gen.py" name="goal_gen" required="true" output="screen"/>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />

    <!-- spawn camera -->
    <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_rpi_camera -x 0.5 -y 8.0 -z 0.0 -param robot_description" /> -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node> -->

    <!-- generate Apriltag -->
    <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_apriltag" args="-sdf -file $(find mr_final_project)/models/Apriltag36_11_00000/model.sdf -model apriltag_marker -x 3.17 -y 3.96 -z 0.54 -R -1.57 " /> -->
  </group>

</launch>