<launch>

  <remap from="/camera_info" to="/raspicam_node/camera_info"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mr_final_project)/urdf/turtlebot3_rpi_camera.urdf.xacro" />

  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch">
    <arg name="enable_raw" value="true" />
  </include>

  <!-- static tf publisher for robot to camera -->
  <node pkg="tf" type="static_transform_publisher" name="base_camera_transform" 
        args="0.03 0 0.1 0 0 0 base_link raspicam 100" />

  <node pkg="tf" type="static_transform_publisher" name="camera_frame_fix" 
        args="0.0 0.0 0.0 1.57 0 1.57 raspicam camera_rgb_optical_frame 100" />

  <rosparam command="load" file="$(find mr_final_project)/config/settings.yaml" ns="apriltag_ros_continuous_node" />
  <rosparam command="load" file="$(find mr_final_project)/config/tags.yaml" ns="apriltag_ros_continuous_node" />
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node" clear_params="true" output="screen" launch-prefix="" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="/raspicam_node/image" />
    <remap from="camera_info" to="/raspicam_node/camera_info" />
    <param name="camera_frame" type="str" value="camera_rgb_optical_frame" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>

</launch>